.side-menu-list li {
  list-style-type: none;
  margin: 20px auto;

  .btn-sideMenu {
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #3F3F3F; 

    &.active {
      color: #18568B;
    }

    &:focus {
      outline: none;
    }
  }
  
}


