// font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&display=swap');
$roboto: "Roboto";
// Here you can add other styles
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;

  .input-label {
    font-size: 12px;
    color: #2b3c5e;
    opacity: 0.7;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-menu button:focus {
  outline: none;
}

.required {
  color: red;
}

.card-group {
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-login-form {
    border: 0;
    padding: 20px;
    border-radius: 20px;
    background-color: #EAEEF6;

    form {
      width: 80%;

      .logo-widya-skilloka {
        width: 200px;
        margin-bottom: 40px;
      }

      .button-addon {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid $netis-primary;
      }

      .forgot-password {
        display: flex;
        justify-content: flex-end;

        .link,
        link:hover {
          color: #2b3c5e;
          text-decoration: none;
        }
      }

      input {
        border: 1px solid $netis-primary;
        border-radius: 8px;
      }

      // input::placeholder {
      //   font-style: italic;
      //   text-align: center;
      // }

      .login-submit {
        width: 100%;
        padding: 10px 0;
        color: #fff;
        background-color: #18568B;
        margin-top: 40px;
      }
    }
  }

  .card-login-info {
    border: 0;
    border-radius: 20px;
    flex-grow: 1.5;
    background-color: #18568B;
    background-size: cover;
    background-repeat: no-repeat;

    .login-info {
      color: #fff;

      .login-img {
        width: 450px;
        margin-bottom: 60px;
      }

      h2 {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}

.main {
  background-color: #fff;

  .container-fluid {
    padding: 25px 30px;
  }
}

.background-login {
  background-color: #fff;
}
.card-login-group {
  border-radius: 20px;
}

.content-title {
  font-weight: 600;
  color: #2b3c5e;
  font-family: "Roboto";
}

.content-sub-title {
  font-weight: 400;
}

.content {
  padding: 1rem;
}

.content-body {
  margin-bottom: 30px;
}

html:not([dir="rtl"]) .sidebar {
  margin-left: -250px;
}

.app-header {
  border: 0;
  box-shadow: 1px 3px 20px 8px rgba(115, 124, 158, 0.1);

  .navbar-brand {
    width: 250px;
  }

  .navbar-nav {
    padding-right: 15px;
    @include media-breakpoint-up(md) {
      padding-right: 30px;
    }
  }

  .nav-item {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.round-100 {
  width: 35px;
  border-radius: 100%;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.2px solid #333;
}
.app-body .sidebar {
  flex: 0 0 250px;
}

.sidebar-fixed .sidebar {
  width: 250px;
  background-color: #305574;

  .sidebar-nav {
    margin-top: 30px;
    width: 250px;

    .nav {
      width: 220px;
    }
  }

  .nav-dropdown-toggle::before {
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  }

  .nav-dropdown-toggle:hover::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%232B3C5E' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  }

  .nav-dropdown.open {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0 8px 8px 0;
  }

  // .icon-home:before {
  //     content: "\e901";
  // }
  // .icon-users:before {
  //     content: "\e903";
  // }
  // .icon-fingerprint:before {
  //     content: "\e904";
  // }
  // .icon-calendar:before {
  //     content: "\e905";
  // }
  // .icon-business-outline:before {
  //     content: "\e906";
  // }
}

.menu {
  a {
    text-decoration: none;
    color: #23282c;
  }

  .menu-item {
    // width: 200px;
    // height: 240px;
    border: 1px solid #dbdce5;
    border-radius: 15px;
    // padding: 30px 45px 30px 20px;
    background: #fff;
    box-sizing: border-box;
  }

  .menu-img {
    img {
      width: 80%;
    }
  }

  .menu-title {
    font-weight: 600;
  }

  .menu-item:hover {
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 23px #3e58781a;
  }
}

.nav-tabs {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.5);

  li {
    margin: 0 5px;
  }

  li:first-child {
    margin-left: 0;
  }

  li:last-child {
    margin-right: 0;
  }
}

.tab-content {
  border: none;
}

a:not([href]):not([tabindex]):hover {
  color: #305574;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: #b2bbce;
}

// .md-company-header {
//     margin-bottom: 10px;

//     .search-form {
//         color: #B2BBCE;
//         border: 1px solid #A7B7D8;
//         border-radius: 4px;
//     }
// }

ul.list-custom-check {
  list-style-type: none;
  padding-inline-start: 30px;
  li {
    position: relative;
    margin-bottom: 0.5rem;
    &:before {
      position: absolute;
      left: -30px;
      width: 20px;
      top: 0;
      bottom: 0;
      content: "";
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.542' height='18.218' viewBox='0 0 18.542 18.218'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23098441;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.9px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.833 -0.87)'%3E%3Cpath class='a' d='M18.032,9.277v.737a8.016,8.016,0,1,1-4.754-7.327' transform='translate(0 0)'/%3E%3Cpath class='a' d='M19.421,4,11.4,12.024,9,9.619' transform='translate(-1.389 -0.398)'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 4px 4px;
      background-size: 13px 13px;
    }
  }
}

.table {
  thead {
    background-color: #f5f6fa;
    border-radius: 5px;

    th {
      border: 0;
      vertical-align: middle;
    }

    .w-5 {
      width: 5%;
    }
    .w-10 {
      width: 10%;
    }
    .w-15 {
      width: 15%;
    }
    .w-20 {
      width: 20%;
    }
    .w-30 {
      width: 30%;
    }
    .w-35 {
      width: 35%;
    }
    .w-50 {
      width: 50%;
    }
    .w-70 {
      width: 70%;
    }
  }

  th,
  td {
    border: 0;
    vertical-align: middle;
  }

  td {
    border-bottom: 1px solid #f5f6fa;
  }
}

.input-group-transparent {
  background-color: transparent;
}

.input-search {
  border-left: none;
}

button:disabled {
  cursor: no-drop;
}

.btn-thin {
  padding: 0.25em 0.4em;
}

.btn-netis-color,
.btn-netis-color:hover {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #335877;
  border: none;
  width: auto;
}

.btn-netis-success,
.btn-netis-success:hover {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  background-color:#54B87C;
  border: none;
  width: auto;
}

.btn-netis-danger,
.btn-netis-danger:hover {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #F86C6B;
  border: none;
  width: auto;
}

.btn-white,
.btn-white:hover {
  color: #335877;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #fff;
  border: none;
}

.btn-red-custom,
.btn-red-custom:hover {
  color: #f63c3a;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #fff;
  border: none;
}

.btn-circle {
  padding: 15px;
  border: 1px solid #b2bbce;
  border-radius: 50%;
}

.btn-circle:hover {
  cursor: pointer;
  border: 1px solid #b2bbce;
  box-shadow: 0px 4px 23px #3e58781a;
}

.form-control:disabled {
  background-color: #fafbfd;
  cursor: no-drop;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bank-card {
  width: 380px;
  height: 220px;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 210px;
  text-align: left;
  padding: 35px;
}
.title-bank {
  color: #e2ecff;
  font-family: $roboto;
  letter-spacing: 0.01em;
  font-weight: bold;
  line-height: 1.5;
  vertical-align: bottom;
  display: inline-block;
}
.input-group {
  width: auto;
}

.modal-dialog {
  // top: 30%;

  .modal-content {
    border: none;
    border-radius: 13px;

    .modal-body {
      padding: 2rem;
    }
  }
}

// .modal-dialog.modal-lg {
//     top: 25%;
// }


.banner-upgrade {
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-information {
  border-radius: 25px;
  background-color: #fbfaff;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 200px;
}
.title-information-company {
  color: #2b3c5e;
  font-family: $roboto;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 1.2em;
}
.title-menu-company {
  color: #2b3c5e;
  font-family: $roboto;
  letter-spacing: 0.02em;
}
.title-upgrade {
  color: #e2ecff;
  font-family: $roboto;
  letter-spacing: 0.01em;
  font-weight: bold;
}
.button-upgrade {
  color: #e2ecff;
  font-family: $roboto;
  letter-spacing: 0.01em;
  padding: 5px 18px;
  border: 1.3px solid #e2ecff;
  border-radius: 5px;
  background-color: transparent;
}
.button-upgrade:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px #fff;
}
.padding-0 {
  padding: 0px;
}
.padding-top-bottom-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.label-information {
  color: #7b849a;
  font-family: $roboto;
}
.input-information[disabled] {
  color: #2b3c5e;
  font-family: $roboto;
  border: none;
  border-bottom: 1px solid #d9dde6;
  background-color: transparent;
  font-weight: 600;
  cursor: default;
}

.personnel-name,
.personnel-name:hover {
  text-decoration: none;
  color: #1e3f80;
}

.semi-bold {
  font-weight: 600;
}

.action-text {
  margin: 0;
  font-weight: 600;
  color: #1e3f80;
}
.action-text:hover {
  cursor: pointer;
}
.img-width {
  height: 100px;
}
.button-add-doc,
.button-add-doc:hover {
  width: 30%;
  padding: 10px 0;
  color: #fff;
  background-color: #335877;
  margin-top: 20px;
}

.frame-profile-picture {
  width: 210px;
  // height: 140px;
  // border: 3px solid #ccc;
  box-shadow: 0px 3px 12px #2b3c5e1a;
  background: #fff;
  margin: auto;
  padding: 10px 10px;

  img {
    width: 100%;
    // height: 100%;
  }
}
.frame-profile-picture-empty {
  width: 210px;
  height: 140px;
  // border: 3px solid #ccc;
  box-shadow: 0px 3px 12px #2b3c5e1a;
  background: #fff;
  margin: auto;
  padding: 10px 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.img-avatar {
  width: 35px;
  margin-right: 10px;
}

.react-datepicker-wrapper {
  display: block !important;
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
}

.img-document {
  max-width: 350px;
}

.input-personnel-document {
  width: 300px;
  height: 180px;
  border: 2px dashed #b2bbce;
  border-radius: 15px;

  .input-personnel-document-button {
    padding: 15px;
    border: 1px solid #b2bbce;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .input-personnel-document-button:hover {
    cursor: pointer;
  }

  span {
    color: #b2bbce;
    font-size: 2rem;
  }
}

.form-check-input {
  position: relative;
  margin-left: 0;
}

.form-check-label {
  color: #5c6873;
}

.no-data-message {
  color: #5c6873;
  font-style: italic;
}

.autocomplete-dropdown-container {
  position: absolute;
  width: 85%;
  z-index: 1;
  border-radius: 0.25rem;
  background-color: #fff;
  top: 47px;
  left: 10px;
  box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);

  div {
    padding: 0.275rem 0.75rem;
  }

  div:last-child {
    margin-bottom: 0.375rem;
  }

  .suggestion-item--active {
    background-color: #eee;
    cursor: pointer;
  }

  .suggestion-item {
    cursor: pointer;
  }
}

.radius-number {
  margin-top: 28px;
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  border: 0;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: none;
}

input[type="range"]:hover {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #335877;
  height: 5px;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  background: #335877;
  height: 5px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #335877;
  margin-top: -7px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #335877;
  margin-top: -7px;
  border-radius: 50%;
}

.react-datepicker-component {
  .react-datepicker-input {
    min-width: 0 !important;

    input {
      font-size: 0.875rem !important;
      font-weight: 400 !important;
      line-height: 1.5;
      color: #5c6873 !important;
      background: #fff !important;
      padding-right: 32px !important;
      background-clip: padding-box;
      border: 1px solid #e4e7ea;
    }
  }
}

.my-custom-datepicker-component .react-datepicker-input.has-value c {
  padding-right: 32px;
}

.my-custom-datepicker-component.is-invalid .react-datepicker-input {
  border: 1px solid #dc3545;
}

.react-datepicker-component.is-disabled {
  background-color: #fafbfd !important;
  cursor: no-drop;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .react-datepicker-input,
  input {
    background-color: #fafbfd !important;
    cursor: no-drop;
  }
}
.notif-card {
  border: 1px solid #dbdce5;
  box-shadow: 0px 4px 10px #3e58781a;
  border-radius: 15px;
  background: #fff;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
}
.notif-card:hover {
  background-color: #fdfdfe;
}
.dashboard-notif-wrapper {
  height: 784px;
}
.dashboard-notif {
  background-color: #fbfbfb;
  overflow: scroll;
}
.brand-card,
.dashboard-card {
  border: 1px solid #dbdce5;
  // border: none;
  // box-shadow: 0px 4px 23px #3e58781a;
  border-radius: 15px;
  background: #fff;
  box-sizing: border-box;
  color: #2b3c5e;
  .brand-card-header {
    border-radius: 15px 15px 0 0;
  }

  .card-header {
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
  }

  .widget01-children {
    background-color: #fafbfd;
    margin: 0.5rem 0 0.75rem 0;
    padding: 0 0.5rem;
  }

  hr {
    margin: 0.275rem 0;
  }
}

.badge-btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 23px #3e58781a;
}

.check-in {
  background-color: #ddf1f1;
}
.check-out {
  background-color: #f7ebe3;
}
.top-modal {
  top: 100px;
  flex: 1;
}
.flexbox-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flexboxi-1 {
  flex: 1;
}

.flexboxi-2 {
  flex: 2;
}
.height-100 {
  height: 100%;
}
.margin-30 {
  margin: 0px;
  background-color: #333;
}
.webcam {
  position: relative;
}
.button-capture {
  // position: relative;
  width: 75px;
  height: 75px;
  border: 5px solid #498fca;
  border-radius: 100px;
  background-color: #fff;
  z-index: 999;
  // margin-top:-130px;
  opacity: 0.9;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 30px;
}
.bottom-capture {
  max-width: 80%;
  color: #fff;
  z-index: 999;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.fixedDisplay {
  position: fixed;
  height: 100%;
  width: 100%;
}
.splash {
  background-color: rgba(255, 255, 255, 0.8);
  //  opacity: 0.3;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.top-50 {
  margin-top: 50px;
}

textarea {
  resize: none;
}
.dashboard-wrapper {
  border: 1px solid #e6e4e4;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 23px #3e58781a;
}
.dashboard-body-personnel {
  background-size: contain;
  background-repeat: no-repeat;
  height: 121.1px;
  background-position: center;
}
.icon-wrapper {
  padding: 30px 20px;
}
.title-wrapper {
  padding: 10px 5px 5px;
  background-color: #489fc1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.title-dashboard {
  font-family: "Roboto";
  color: #fff;
}
.number-dashboard {
  font-weight: bold;
  color: #fff;
}

.search-location {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80%;
}

// Landing Page
.landing-page {
  margin-top: 72px;
  .container-fluid {
    padding: 0 100px;

    @include media-breakpoint-down(md){
      padding: 0 50px;
    }
    @include media-breakpoint-down(sm){
      padding: 5px 10px;
    }
  }
  .sub-title {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;

    @include media-breakpoint-down(sm){
      font-size: 22px;
      line-height: 20px;
    }
  }
}

// New Landing Page V2
.hero-wrapper {
  background: #3473BC url('../assets/img/newLandingPageV2/hero-bg.png') no-repeat left bottom;
  // background: url('../assets/img/newLandingPageV2/hero-blue-bg.png') no-repeat left top;
  background-size:cover;
  margin-top: -75px;

  @include media-breakpoint-up(md) {
    min-height: 60vh;
  }

  @include media-breakpoint-down(md){
    min-height: 100vh;
  }
  @include media-breakpoint-down(sm){
    // background: linear-gradient(255.48deg, #1E63A2 -5.64%, #176AB6 21.6%, #2272BA 43.98%, rgba(55, 103, 185, 0.9) 67.26%, rgba(55, 103, 185, 0.4) 115.29%),
    //           url('../assets/img/newLandingPageV2/hero-bg.png') no-repeat left top;
    min-height: 100vh;
    background-size: cover;
    background-position-x: 37%;
  }

}

.hero {
  color: #333333;
  min-height: 100vh;
  padding-top: 85px;

  @include media-breakpoint-down(sm) {

    flex-direction: column-reverse;
  }

}

.hero-content-right {
 
  width: 100%;
  // height: 100vh;

  @include media-breakpoint-down(md) {
    height: max-content;
    position:relative;
  }
}

.hero-heading {
  font-weight: 600;
  font-size: 50px;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.hero-element {
  background-color: #fff;
  color: black;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 50px;
  box-shadow: 20px 15px 2px 3px rgba(255,255,255, 0.15);  
  position: absolute;
  width: 180px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    box-shadow: 10px 8px 2px 3px rgba(255,255,255, 0.15);  
    margin-bottom: 25px;
    position: absolute;
  }
}

.hero-element-1 {  
  top: 20%;
  left: 30%; 

  @include media-breakpoint-down(md) {
    position: relative;
    top: 10%;
    left: 2%; 
  }
}

.hero-element-2 {
  top: 40%;
  right: 8%;

  @include media-breakpoint-down(md) {
    position: relative;
    top: 20%;
    left: 37%;
  }
}

.hero-element-3 {
  top: 50%;
  left: 10%;

  @include media-breakpoint-down(md) {
    position: relative;
    top: 60%;
    left: 20%;
  }
}

.hero-icon {
  position: absolute;


  &.hero-icon-1 {
    top: 14%;
    right: 25%;

    @include media-breakpoint-down(md) {
      top: -10%;
      right: 28%;
    }
  }

  &.hero-icon-2 {
    top: 45%;
    left: 5%;

    @include media-breakpoint-down(md) {
      top: 55%;
      left: 5%;
    }
  }

  &.hero-icon-3 {
    bottom: 40%;
    right: 18%;


    @include media-breakpoint-down(md) {
      top: 65%;
      right: 7%;
    }
  }
}


.hero-text {
  font-size: 20px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.partner-page {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  @include media-breakpoint-up(md){
    width: 85%;
  }
  @include media-breakpoint-up(lg){
    width: 80%;
  }

  .partner-heading {
    color: #18568B;
    font-weight: 600;
    font-size: 30px;
  }
 
  .fade-div {
    width: 100%;
    height: 500px;
    position: relative;

    @include media-breakpoint-down(md) {
      width: auto;
      }

    .partner-logo {
      position: absolute;
      left: 0; 

      
      &.fade-div {
        opacity: 1;
        transition: opacity 1s ease-in;
        &.hidden {
          opacity: 0;
        }
      }
    }
  }

  .partner-col {
    @include media-breakpoint-up(md){
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75px;
    object-fit: contain;
  }

  h3 {
    font-weight: 600;
    color:#18568B;
  }
  // img {
  //   width: 70%;
  //   height: 70%;
  //   object-fit: cover;
  // }
}

.trusted-partner-wrapper {
  // background-image: url("../assets/img/newLandingPageV2/partner-bg.png");
  background: #F9FAFC;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  margin-bottom: 4rem;
  height: max-content;

  // @include media-breakpoint-down(sm) {
   // background-image: url('../assets/img/newLandingPageV2/partner-left-bg.png');
  // background-size: auto 46%;
  // background-position: top left;
  //   margin-bottom: 4rem ;
  //   background: #F9FAFC;
  // }
}

.trusted-content-right {
  @include media-breakpoint-down(sm) {
    background-image: none;
    background-color: transparent;
  }
}

.partner-box {
  width: 100%;
  height: 100px;
  padding: auto 10px;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 1px 5px rgba(0,0,0, 0.2));
}

.navbarOnScroll {
  color: black;
  background-color: white;

  .custom-nav {
    color: black;
  }
}


.partner-row {
  height: 265px;
  margin-top: 73px;
  background-color: #F6F7FC;
}

.client-wrapper {
  margin-bottom: 5rem;


  .clients-heading {
    color: #18568B;
    font-weight: 600;
  
  }
}


.whyaikrut-wrapper {
  margin-bottom: 5rem;


  .whyaikrut-heading {
    margin-bottom: 3rem;
    text-align: center;
    color: #18568B;
    font-weight: 600;
  }

  .whyaikrut-img {
    @include media-breakpoint-down(md) {
      width: 120%;
  
    }
  }
}

.landing-whyAikrut {
  margin-top: 87px;

  @include media-breakpoint-up(md) {
    margin-bottom: 150px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 100px;
  }

}

.wrapper-landing-bg {
  background-image: url('../assets/img/new-landing-page/landing-bg.png');
  background-repeat: no-repeat;
  background-position-y: center;
  @include media-breakpoint-down(md){
    background-size: 50%;
  }
}

.recruit-box-wrapper {
  height: 400px;

  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: max-content;
  }
}

.recruit-box-wrap {
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
}

.recruit-box {
  display: flex;
  flex-direction: column;
  background-color: #EEF5F9;
  width: 160px;
  height: 190px;
  margin-right: 5px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);

  &.odd {
   background-color: #EEF5F9;

   &.off {
     opacity: 0.4;
   }
  }


  &.even {
    background-color: #ffffff;

    &.off {
      opacity: 0.4;
    }
  }


  @include media-breakpoint-down(sm) {
    margin-bottom: 2rem;
    height: max-content;
    display: inline-block;
    background-color: transparent;
    border-radius: 0;
    border: none;
  }
}

.offering-wrapper {
  margin-bottom: 6rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 3rem;
  }
}


.feature-aikrut-wrapper {
  margin-bottom: 5rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
  }

  
}


.feature-aikrut {
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse ;
  }
}

.feature-aikrut-heading-1 {
  font-size: 30px;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

.feature-img-1 {
  @include media-breakpoint-down(sm) {
    // width: 250px;
    // height: 190px;
    margin-bottom: 40px;
  }
}


.feature-aikrut-2-wrapper {
  background-image: url('../assets/img/newLandingPageV2/feature-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;

  @include media-breakpoint-up(md) {
    // padding: 150px 0;
    height: 100%;
    min-height: 700px;
  }

  @include media-breakpoint-down(sm) {
    min-height: 1100px;
    height: 100%;
  }

  .feature-aikrut-2 {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
    }
  }

  .feature-img-2 {
    width: 80%;

  }
}

.feature-aikrut-3-wrapper {
  margin-bottom: 5rem;


  .feature-img-3 {
    width: 80%;
  
  }
}


.feature-aikrut-4-wrapper {
  margin-bottom: 5rem;


  .feature-img-4 {
    width: 80%;
  }
}


.testimoni-wrapper {
  margin-bottom: 15rem;
  background: linear-gradient(174.26deg, #3767B9 9.03%, #204F9D 90.97%);
  position: relative;
  height: 300px;
  max-height: 400px;

  // @include media-breakpoint-down(md) {
  //   margin-bottom: 5rem;
  // }

  .testimoni-heading {
    color: #fff;
    font-weight: 600;
  }

  .testimoni-card {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  }

  .testimoni-card-container {
    position: relative;

  }


  .testi-card-title {
    font-weight: 600;
  }

}


.fab-whatsapp {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
  z-index: 1;


  a {
    text-decoration: none;
  }
  img {
    width: 50px;
    cursor: pointer;
  }
  .fab-whatsapp-caption {
    display: none;
  }

  .box-wa {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 24px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 0.3s ease 0s, margin 0.3s ease 0s, visibility 0.3s ease 0s;
    background-color: rgb(255, 255, 255);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    touch-action: auto;
    margin-bottom: 96px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: auto;
    margin-right: 20px;
    width: 300px;


    .closed-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 20px;
      height: 20px;
      opacity: 0.4;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      outline: transparent;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
    }


    .closed-btn::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      display: block;
      border-radius: 2px;
      transform: rotate(-45deg);
    }

    .closed-btn::before {
      content: "";
      transform: rotate(45deg);
      position: absolute;
      width: 12px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      display: block;
      border-radius: 2px;
    }

    .logo-wa {
      width: 52px;
      height: 52px;
      display: block;
      position: relative;
      flex-shrink: 0;
    }

    .logo-wa::before {
      content: "";
      bottom: 0px;
      right: 0px;
      width: 12px;
      height: 12px;
      box-sizing: border-box;
      background-color: rgb(74, 213, 4);
      display: block;
      position: absolute;
      // z-index: 1;
      border-radius: 50%;
      border: 2px solid rgb(9, 94, 84);
    }

    .logo-wa-inner {
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
    }

    .img-logo-wa {
      min-width: 100%;
      height: 100%;
      flex-shrink: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../assets/img/logo.jpg")
    }

    .img-logo-wa::after {
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      content: "";
      overflow: hidden;
    }

    .header-box-wa {
      background: rgb(9, 94, 84);
      color: rgb(17, 17, 17);
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 14px 20px;
    }

    .content-box-wa {
      padding: 20px 20px 20px 10px;
      background-color: rgb(230, 221, 212);
      position: relative;
      overflow: auto;
      max-height: 382px;

      .content-flex-wa {
        display: flex;
        z-index: 1;

        .wa-dots {
          background-color: rgb(255, 255, 255);
          width: 52.5px;
          height: 32px;
          border-radius: 16px;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          margin-left: 10px;
          opacity: 0;
          transition: all 0.1s ease 0s;
          z-index: 1;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;

          .wa-dots-inner {
            position: relative;
            display: flex;

            .wa-dots-one {
              height: 5px;
              width: 5px;
              margin: 0px 2px;
              border-radius: 50%;
              display: inline-block;
              position: relative;
              animation-duration: 1.2s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              top: 0px;
              background-color: rgb(158, 157, 162);
              animation-name: dJHihm;
            }

            .wa-dots-two {
              height: 5px;
              width: 5px;
              margin: 0px 2px;
              background-color: rgb(182, 181, 186);
              border-radius: 50%;
              display: inline-block;
              position: relative;
              animation-duration: 1.2s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              top: 0px;
              animation-name: goHzKU;
            }

            .wa-dots-three {
              height: 5px;
              width: 5px;
              margin: 0px 2px;
              background-color: rgb(182, 181, 186);
              border-radius: 50%;
              display: inline-block;
              position: relative;
              animation-duration: 1.2s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              top: 0px;
              animation-name: krEmjx;
            }
          }
        }

        .content-message-wa {
          padding: 7px 14px 6px;
          background-color: rgb(255, 255, 255);
          border-radius: 0px 8px 8px;
          position: relative;
          transition: all 0.3s ease 0s;
          opacity: 0;
          transform-origin: center top;
          z-index: 2;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
          margin-top: 4px;
          margin-left: -54px;
          max-width: calc(100% - 66px);
          opacity: 1;
          text-align: left;

          .wa-author {
            opacity: 1;
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.4);
          }

          .wa-text {
            font-size: 14px;
            line-height: 19px;
            margin-top: 4px;
            color: rgb(17, 17, 17);
          }
        }

        .content-message-wa::before {
          position: absolute;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          top: 0px;
          left: -12px;
          width: 12px;
          height: 19px;
        }
      }

      .gotoChat:hover {
        box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 1.5px;
      }

      .gotoChat {
        padding: 8px 12px;
        border-radius: 20px;
        border: none;
        background: rgb(79, 206, 93);
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        cursor: pointer;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin: 20px;
        overflow: hidden;
        appearance: none;

        .text-wa-goto {
          margin-left: 8px;
          margin-right: 8px;
          z-index: 1;
          color: rgb(255, 255, 255);
        }
      }

      .wa-web {
        display: block;
        @include media-breakpoint-down(sm) {
          display: none;
        }
       }

       .wa-mobile {
         display: none;
         @include media-breakpoint-down(sm) {
           display: block;
         }
       }
    }

    .content-box-wa::before {
      display: block;
      position: absolute;
      content: "";
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
      z-index: 0;
      opacity: 0.08;
      background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
    }

  }
}


.testimoni-wrapper-mobile {
  background: linear-gradient(174.26deg, #3767B9 9.03%, #204F9D 90.97%);
  padding: 3rem 2rem 2rem;
  margin-bottom: 3rem;
  height: max-content;


  .react-multi-carousel-track {
    padding-bottom: 30px;
  }

.custom-dot-list-style {
  justify-content: start;
  padding-left: 6px;

  .react-multi-carousel-dot button {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
   
  }

  .react-multi-carousel-dot--active button {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: none;
  }
  
}

 .testimoni-title-mobile {
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   line-height: 24px;
 }

 .testimoni-desc-mobile {
   font-size: 16px;
   font-weight: 400;
   color: white;
   line-height: 24px;
 }

 
}





.assessment-list li {
  padding: 10px 20px;
  transition: all 0.3s ease-out ;
  &.active,
  &:hover {
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 7px 18px -3px #d4d4d4;
    transition: all 0.3s ease-in;
  }
}

.try-card {
 width: 100%;
 border: none;
 border-radius: 40px;
 background-image: url('../assets/img/newLandingPageV2/try-card-bg.png');
 background-repeat: no-repeat;


 h3 {
   @include media-breakpoint-down(sm) {
     font-size: 1.09375rem;
   }

 }


}


.hero-assessment-wrapper,
.hero-pricing-wrapper,
.hero-why-aikrut-wrapper
 {
  background: #3473BC url('../assets/img/newLandingPageV2/hero-bg.png') no-repeat left bottom;
  background-size: cover;
  margin-top: -75px;

  @include media-breakpoint-up(md) {
    min-height: 70vh;
  }
  @include media-breakpoint-down(md){
    min-height: 50vh;
  }
  @include media-breakpoint-down(sm){
    min-height: 80vh;
    background-size: cover;
    background-position-x: 55%;
  }
 
}


.hero-assessment,
.hero-pricing,
.hero-why-aikrut {
  padding-top: 85px;
  min-height: 70vh;

  .hero-assessment-heading,
  .hero-pricing-heading,
  .hero-why-aikrut-heading {
    font-weight: 700;
    font-size: 45px;

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }
}



.side-menu-list li {
  list-style-type: none;
  margin: 20px auto;

  .btn-sideMenu {
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #3F3F3F;

    &.active {
      color: #18568B;
    }

    &:focus {
      outline: none;
    }
  }
}

.card-assessment-inventory {
  font-size: 18px;
  border: none;
  border-radius: 10px ;
  padding: 30px;

  @include media-breakpoint-up(md) {
    min-height: 700px;
  }

  @include media-breakpoint-down(md) {
    height: max-content;
    
  }

  @include media-breakpoint-down(sm) {
    padding: 0px;
  }

}

.card-img-assessment {
  width: 80%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}



.why-aikrut-heading {
  width: 60%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.why-aikrut-heading {
  width: 60%;
  margin-bottom: 80px;

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-bottom: 50px;
  }
}

.benefit {
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
  }
}

.benefit-content-right {
  position: relative;

  .benefit-text-holder {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

    &.text-1 {
      width: 200px;
      position: absolute;
      top: 12%;
      right: 5px;
    }

    &.text-2 {
      width: 250px;
      position: absolute;
      top: 68% ;
    }
  }
}


// End New Landing Page V2

.landing-ourProduct {
  position: relative;
  // background-image: url('../assets//img/new-landing-page/bg-ourproduct.png');
  // background-repeat: no-repeat;
  margin-bottom: 100px;

  @include media-breakpoint-down(md) {
    margin-top: 40px;
  }

  .ourProduct-heading {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }


  .ourProduct-list p {
    font-weight: bold;
    color: #666666;
    font-size: 18px;
  }
}


.btn-play {
  background-color: transparent;
  border: 1px solid #3767B9;
  border-radius: 25px;
  color: #3767B9;
}

.landing-benefit {

  .benefit-col {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md){
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    @include media-breakpoint-up(xl){
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .benefit-col {
    transition: transform 0.2s;
    @include media-breakpoint-up(md) {
      &:hover {
        text-decoration: none;
        transform: scale(1.1);
      }

    }

  }
  .benefit-point {
    font-size: 16px;
    border: none;
    border-radius: 15px;
    color: #3767B9;
    background-color: #F6F7FC;
    padding: 5px 10px;
    transition: transform 0.2s;

    &:hover {
      text-decoration: none;
      transform: scale(1.2);
    }
    @include media-breakpoint-only(md){
      font-size: 10px;
    }


    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

  }

  .benefit-arrow {
    margin-top: 40%;
    @include media-breakpoint-up(xl){
      margin-top: 30%;
    }
  }

  .benefit-img {
    z-index: 99;
    position: absolute;
    img {
      margin-top: 20%;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      @include media-breakpoint-up(xl){
        margin-top: 10%;
        width: 60%;
      }
      @include media-breakpoint-only(md){
        width: 80%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: 150px;
    margin-bottom: 150px;

    .benefit-point-left {
      .benefit-point.point-1 {
        margin-top: -10px;
        margin-right: -40px


      }

      .benefit-point.point-2 {
        margin-top: 60px;
      }
      .benefit-point.point-3 {
        margin-top: 60px;
      }
      .benefit-point.point-4 {
        margin-top: 70px;
      }
      .benefit-point.point-5 {
        margin-top: 70px;
        margin-right: -30px;
      }
    }

    .benefit-point-right {
      // .benefit-point.point-6 {

      // }
      .benefit-point.point-7 {
        margin-top: 75px;
      }
      .benefit-point.point-8 {
        margin-top: 90px;
      }
      .benefit-point.point-9 {
        margin-top: 100px;
      }

    }
  }



  @include media-breakpoint-down(md) {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 14px;

    .benefit-point-left {
      .benefit-point.point-1 {
        margin-top: -10px;
        margin-right: -40px

      }

      .benefit-point.point-2 {
        margin-top: 50px;
      }
      .benefit-point.point-3 {
        margin-top: 60px;
      }
      .benefit-point.point-4 {
        margin-top: 70px;
      }
      .benefit-point.point-5 {
        margin-top: 60px;
        margin-right: -50px;
      }
    }

    .benefit-point-right {
      // .benefit-point.point-6 {

      // }
      .benefit-point.point-7 {
        margin-top: 75px;
      }
      .benefit-point.point-8 {
        margin-top: 90px;
      }
      .benefit-point.point-9 {
        margin-top: 100px;
      }

    }

  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}



.landing-contact {

  .contact-wrapper {
    width: 100%;
    height: max-content;
    border: none;
    border-radius: 25px;
    background-color: #F5F7FB;
    background-image:url('../assets/img/new-landing-page/ellipse-bg.png');
    background-repeat: no-repeat;
    background-size: contain;

    @include media-breakpoint-up(md) {
      margin-bottom: 150px;

    }

    @include media-breakpoint-down(sm) {
      background-size: contain;
      margin: 0;
    }

    .contact-card {
      @include media-breakpoint-down(sm) {
        padding-top: 20px !important;
      }

      .contact-heading-section {
        width: 100%;

        .contact-heading-wrap {
          width: 65%;
          height: 100%;

          @include media-breakpoint-down(sm) {
            width: 84%;
          }
        }

        .contact-heading {
          color: white;
          @include media-breakpoint-down(md) {
            font-size: 20px;
          }
        }
      }

      .contact-form-section {

        @include media-breakpoint-down(sm) {
          margin-top: 40px;
        }
        .input-wrap {

          @include media-breakpoint-down(md) {
            margin-bottom: 10px;
          }
          @include media-breakpoint-up(sm) {
            margin-bottom: 5px;
          }
        }
      }


    }
  }
}



.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// .fab-whatsapp {
//   a {
//     text-decoration: none !important;
//   }
//   position: fixed;
//   bottom: 3rem;
//   right: 3rem;
//   text-align: center;
//   img {
//     width: 50px;
//     cursor: pointer;
//   }

//   .fab-whatsapp-caption {
//     display: none;
//   }

//   .fab-whatsapp-icon-on {
//     opacity: 1;
//     transform: scaleX(1);
//     transition: opacity 0.2s ease-out, transform 0ms linear;
//   }
//   .fab-whatsapp-icon-off {
//     transform: scale3d(0, 0, 0);
//     opacity: 0;
//     transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
//   }

//   .fab-whatsapp-box-off {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     z-index: 1;
//     width: calc(100vw - 20px * 2);
//     max-width: 500px;
//     min-height: 170px;
//     max-height: calc(100vh - 20px - 20px);
//     border-radius: 32px;
//     background: transparent;
//     box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
//     text-align: left;
//     overflow: hidden;
//     transform: scale3d(0, 0, 0);
//     opacity: 0;
//     transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
//   }
//   .fab-whatsapp-box-on {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     z-index: 1;
//     width: calc(100vw - 20px * 2);
//     max-width: 500px;
//     min-height: 170px;
//     max-height: calc(100vh - 20px - 20px);
//     border-radius: 32px;
//     background: transparent;
//     box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
//     text-align: left;
//     overflow: hidden;
//     opacity: 1;
//     transform: scaleX(1);
//     transition: opacity 0.2s ease-out, transform 0ms linear;

//     .fab-whatsapp-box-header {
//       position: relative;
//       flex-shrink: 0;
//       height: 70px;
//       line-height: 70px;
//       padding: 0 26px;
//       margin: 0;
//       background: $netis-primary;
//       text-align: left;

//       .fab-whatsapp-box-header-title {
//         margin-top: 15px;
//         font-size: 24px;
//         color: #ffffff !important;
//       }

//       .fab-whatsapp-box-header-close {
//         position: absolute;
//         top: 50%;
//         right: 24px;
//         width: 34px;
//         height: 34px;
//         margin-top: -16px;
//         border-radius: 50%;
//         background: rgba(0, 0, 0, 0.4) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M24 2.4L21.6 0 12 9.6 2.4 0 0 2.4 9.6 12 0 21.6 2.4 24l9.6-9.6 9.6 9.6 2.4-2.4-9.6-9.6L24 2.4z'/%3E%3C/svg%3E") 50% no-repeat;
//         background-size: 12px;
//         cursor: pointer;
//         transition: background-color 0.3s ease-out;
//         -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//       }
//     }
//     .fab-whatsapp-box-content {
//       padding: 20px 0 30px;
//       padding-bottom: calc(20px);
//       background: #ffffff;
//       overflow-x: hidden;
//       overflow-y: auto;
//       will-change: scroll-position;

//       .fab-whatsapp-box-content-message {
//         display: inline-block;
//         position: relative;
//         // min-height: 60px;
//         min-width: 100px;
//         width: auto;
//         padding: 0.5rem 20px;
//         margin: 0 26px 1rem;
//         border-radius: 32px;
//         background: #0091aa;
//         color: #ffffff;
//         opacity: 1;
//         filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
//         transform: translateZ(0);
//       }

//       .fab-whatsapp-box-content-message-client {
//         text-align: left;
//         position: relative;
//         min-height: 50px;
//         // width: 100%;
//         display: block;
//         margin: auto;
//         padding: 17px 20px;
//         border-radius: 32px;
//         background: #ffffff;
//         filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
//       }

//       .fab-whatsapp-box-content-message-client::placeholder {
//         opacity: 1;
//         filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
//       }
//     }
//   }
//   @include media-breakpoint-up(sm) {
//     // transform: translateY(15px);
//     transition: transform 100ms ease-in-out;
//     .fab-whatsapp-caption {
//       display: inline;
//       opacity: 0;
//       transition: opacity 250ms ease-in-out;
//     }
//     &:hover {
//       transform: translateY(0);
//       .fab-whatsapp-caption {
//         opacity: 1;
//       }
//     }
//   }
// }

.custom-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 32px;
  @include media-breakpoint-down(md){
    padding-top: 20px;
    padding-bottom: 0;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover{
      color: black;
    }

  }

  li {
    margin-left: 3rem;
    @include media-breakpoint-down(md){
      margin-left: 1rem;
    }



  }

  /* padding-bottom: 20px; */
  // .nav-item
  // .navbar-nav .nav-item {
  //   color: $netis-primary !important;
  //   position: relative;

  //   &.has-subitem {
  //     .nav-subitem {
  //       position: absolute;
  //       display: none;
  //       white-space: nowrap;
  //       transform: translateX(-25%);
  //       a {
  //         color: $netis-primary;
  //         font-weight: 400;
  //         &:hover {
  //           text-decoration: none;
  //           background-color: #f2f2f2;
  //         }
  //       }
  //     }
  //     &:hover .nav-subitem {
  //       display: block;
  //       top: 90%;
  //     }
  //   }

  //   &:hover {
  //     font-weight: 600;
  //   }

  //   &:not(.has-subitem) {
  //     &:after {
  //       content: "";
  //       position: absolute;
  //       bottom: 0;
  //       left: 0;
  //       background-color: #18568B;
  //       height: 3px;
  //       border-radius: 3px;
  //       width: 0px;
  //       min-width: 0px;
  //       transition: width 200ms linear, min-width 200ms linear;
  //     }
  //     &:hover,
  //     &.active {
  //       &:after {
  //         width: 50%;
  //         min-width: 30px;
  //       }
  //     }
  //   }
  // }
}

.custom-nav-active {
  color: #3767B9;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar .button:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../assets/assets_ari/burger.svg");
}

.close-drawer .navbar-toggler-icon {
  background-image: url("../assets/assets_ari/closenav.svg");
}

/* .navbar-toggler-icon {
    background-image: url('./closenav.svg');
} */

.navbar-logo {
  width: 150px;
}

.modal-drawer .nav-link {
  color: #828282;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
}

.modal-drawer {
  max-width: 100%;
  height: max-content;
  margin: 0;

  .drawer-header {
    display: flex;
    justify-content: space-between;
  }

  .modal-content {
    border-radius: 0;
    height: 100%;
    padding: 6px 0;
  }

  ul {
    list-style: none;
    padding: 0 18px;
    color: #305574;
    font-size: 16px;
    font-weight: 500;

    li {
      padding: 10px 0;
      border-bottom: 1px solid rgba(228, 228, 228, 0.3);
    }
  }

  .btn-landing {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 10px;
  }
}

.btn-landing {
  font-weight: 600;
  border-radius: 12px;
  padding: 3px 20px;
  text-align: center;
}

.btn-netis {
  background-color: #305574;
  color: #fff;
}

.btn-navbar {
  font-size: 14px;
}

.btn-grey {
  font-size: 16px;
  background-color: #eaedf5;
  color: #305574;
  padding: 8px 22px;
}

.btn-grey:hover {
  color: #305574;
}

.btn-landing:hover {
  color: #fff;
  text-decoration: none;
}



.hero-image img {
  @include media-breakpoint-up(lg) {
    width: 500px;
  }
  @include media-breakpoint-only(md) {
   width: 400px;
  }
  @include media-breakpoint-down(sm) {
    width: 300px;
    margin-bottom: 50px;
  }
}

.hero-img {
  @include media-breakpoint-up(md) {
    width: 120%;

  }

  @include media-breakpoint-down(md) {
    width: 100%;
    margin-top: -16%;
  }
}

.hero-content {
  padding-top: 130px;
  max-width: 100%;
  margin-bottom: 3rem;
  flex-direction: row;

  @include media-breakpoint-up(xs) {
    // padding: 0 30px;
    padding-top: 30px;
    max-width: 100%;
  }
  @include media-breakpoint-up(sm) {
    // padding: 0 100px;
    padding-top: 30px;
    max-width: 100%;
  }
  @include media-breakpoint-up(md) {
    max-width: 100%;
  }
  @include media-breakpoint-up(lg) {
    max-width: 100%;
  }
  @include media-breakpoint-up(xl) {
    max-width: 100%;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text {
    letter-spacing: 1;
    line-height: 2;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.5rem;
      line-height: 1.5;
    }
  }

  .hero-get-demo {
    position: relative;
    margin-top: 270px;
    font-size: 14pt;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    @include media-breakpoint-up(md){
      margin-top: 50px;
      width: 70%;
    }
    @include media-breakpoint-up(lg){
      margin-top: 50px;
      width: 50%;
    }
  }

  h1 {
    text-align: left;
    font-weight: bolder;
    font-size: 45px;
    @include media-breakpoint-only(md){
      font-size: 35px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 30px;
      text-align: center;
    }
  }
}

// .hero-content-form {
//   padding-top: 200px;
//   max-width: 100%;
//   margin-bottom: 3rem;
//   float: right;
//   margin-top: -80px;
//   @include media-breakpoint-up(xs) {
//     max-width: 100%;
//   }
//   @include media-breakpoint-up(sm) {
//     max-width: 100%;
//   }
//   @include media-breakpoint-up(md) {
//     padding: 0 50px;
//     max-width: 60%;
//   }
//   @include media-breakpoint-up(lg) {
//     max-width: 50%;
//   }
//   @include media-breakpoint-up(xl) {
//     max-width: 50%;
//   }
// }

// .btn-hero-cta {
//   padding: 1rem 2rem;
//   font-size: 1.1rem;
//   line-height: 1;
//   margin-top: 1.5rem;
//   width: 100%;
//   @include media-breakpoint-up(sm) {
//     width: auto;
//     margin-top: 4rem;
//   }
//   img {
//     margin-left: 1rem;
//     height: 14px;
//     transition: margin-left 200ms ease-in-out, 200ms ease-in-out;
//   }
//   &:hover img {
//     margin-left: 3rem;
//   }
// }

.hr-main {
  border-top: none;
  width: 160px;
  height: 5px;
  background: $netis-secondary;
  border-radius: 5px;
  margin-bottom: 25px;
}

.unduh-app {
  width: 200px;
}

// footer {
//   background-color: #395e7d;
//   box-sizing: border-box;
//   color: #dce6ef;
//   /* height: 250px; */
//   border-radius: 40px 40px 0 0;
//   padding-top: 40px;
//   padding-bottom: 18px;
//   border-right: 25px solid transparent;
//   /* background-image: url('./group3.svg'), url('./ellipse.svg'), url('./ellipse3.svg'), url('./ellipse2.svg');
//     background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
//     background-size: 70px, auto, 20px, 40%;
//     background-position: 20px 40px, -240px -180px, 98% 90%, 130% -18%; */
// }


.footer-landing {
  background-position: bottom;
  background-size: 0;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #3767B9 -15.93%, #204F9D 73.73%);
  // border-radius: 25px 25px 0 0;
  box-sizing: border-box;
  color: #dce6ef;
  /* height: 250px; */

  padding-bottom: 18px;
  // background-image: url("../assets/img/newLandingPageV2/footer-bg.png");
  @include media-breakpoint-up(md){
    background-color: transparent;
    background-size: 100vw auto;
    padding-top: 40px;
  }
  @include media-breakpoint-up(lg){
    background-size: 100vw auto;
    padding-top: 60px;
    margin-top: 10px;
  }
  @include media-breakpoint-down(sm){
    background-size: 100vw auto;
    padding-top: 40px;
    // border-radius: 40px 40px 0 0;
    
  }
  .footer-container {
    width: 100%;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus {
    font-weight: 400;
    margin: 10px 0px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: white;
    @include media-breakpoint-down(md){
      // margin-top: -100px;
      padding-top: 50px;
    }
    @include media-breakpoint-down(sm){

      font-size: 16px;
      line-height: 18px;
      margin-top: -30px;
      margin-bottom: 30px;
    }
  }


  .information {
    a {
      color: white;
      text-decoration: none;
    }
  }
}





.logo_white {
  width: 100%;
  max-width: 150px;

  // @include media-breakpoint-down(md){
  //   padding-top: 100px;
  // }
  // @include media-breakpoint-down(sm){
  //   padding-top: 0;
  // }
}


.footer-left a{
  color:#fff;
}

.footer-right {
  margin-right: -20px;
  ul {
    padding-inline-start: 0px;
    padding: 0;
    @include media-breakpoint-up(md) {
      padding: 0 20px;
    }
    list-style-type: none;
    li {
      &:first-child {
        margin-bottom: 0.5rem;
      }
      padding: 0.25rem 0;
      a {
        color: #fff;
        &:hover {
          color: #cbd9e7;
          text-decoration: none;
        }
      }
    }
  }
}

.footer-divider {
  text-align: left;
  width: 45px;
  border-top: 3px solid #ffb95b;
  margin-top: 8px;
  margin-left: 0;
}

.information {
  padding-left: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  @include media-breakpoint-down(sm){
    padding-left: 15px;
  }

  strong {
    font-size: 17px;
    font-weight: 900;
  }
}

.footer-information {
  color: #fff;
  
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

// .footer-contact, .footer-information {
//   @include media-breakpoint-down(md) {
//     padding-top: 100px;
//   }
// }

.footer-contact {
 
  .contact-item {
    display: flex;
    align-items: flex-start;
    color: #fff;
    i {
    
      font-size: 25px;
      margin-top: 0.25rem;
      margin-right: 1.5rem;
     
    }

    p {
      color: #fff;
      font-size: 15px;
      line-height: 30px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.contactus {
  color: #fff;
  font-size: 15px;
  line-height: 30px;

  @include media-breakpoint-up(md) {
    padding-left: 50px;
  }
  @include media-breakpoint-down(md){
    padding-top: 20px;
  }
  @include media-breakpoint-down(sm){

  }

  strong {
    font-size: 17px;
    font-weight: 900;
  }
}





.benefit-content-wrapper {
  margin-bottom: 31px;
  .benefit-content-title {
    font-weight: bold;
    color: #18568B;
  }
}

.tryforfree {

  .tryforfree-card {
    width: 100%;
    height: 165px;
    background-color: #3767B9;
    border-radius: 25px;
    padding: 0 80px;

    @include media-breakpoint-down(md) {
      padding: 0px 30px;
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      height: max-content;
    }


    .btn-tryFree {
      background-color: white;
      color: #3767B9;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 22px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.faq-accordion-card {
  border-radius: 10px;
  margin-bottom: 30px;

  &:hover {
    cursor: pointer;
  }

  .faq-accordion-heading {
    color:#18568B;

    .icon {
      color: #828282 ;
    }
  }
}

.result-businessInsight-accordion-heading {
  background-color: transparent;
  border: 1px solid #939393;
  border-radius: 10px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.active {
   background-color: #E0E5EA;
  }
}
.pricing-card {
  border: none;
  border-radius: 0 0 10px 10px;
  min-height: 420px;
}

// .titleFreePackage {
//   display: block;
//   line-height: 26px;

//   &::after {
//     content: '*)';
//     display: inline-block;
//     vertical-align: sub;
//   }
// }

.btn-freePacket {
  color: #3767B9;
  background-color: transparent;
  border: 1px solid #3767B9;
  border-radius: 20px;
  transition: all 0.3s ease-in;

  &:hover {
    color: white;
    background-color:#3767B9 ;
    text-decoration: none;
    transition: all 0.4s ease-out;
  }
}

.badge-SangatTinggi {
  background-color: #16CB60;
}
.badge-Tinggi {
  background-color: #67CC90;
}
.badge-Sedang {
  background-color: #EAFF8F;
}
.badge-Rendah {
  background-color: #FFD591;
}
.badge-SangatRendah {
  background-color: #FFA39E;
}


.sosmed-lg img {
  width: 30px;
}

.hr-footer {
  border-top: 1px solid #fff;
  opacity: 0.6;
  margin: 22px 0;
  margin-bottom: 18px;
}

.copyright {
  color: #fff;
  font-size: 12px;
  line-height: 22px;
}

.fab-container {
  bottom: 2vh !important;
  right: 2vw !important;
}

.grafik-papikostick-user {
  max-width: 320px;
  max-height: 320px;
  padding: 50px 0;
  background-image: url("../assets/img/asesmen/papikostick/square-user.png");
  background-position: calc(50% - 3px) calc(50% + 4px);
  background-repeat: no-repeat;
  background-size: auto 95%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(sm) {
    max-width: 480px;
    max-height: 480px;
    padding: 80px 0;
  }

  @include media-breakpoint-up(md) {
    max-width: 600px;
    max-height: 600px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
    max-height: 800px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1000px;
    max-height: 1000px;
  }
}
.grafik-papikostick-user-en {
  max-width: 320px;
  max-height: 320px;
  padding: 50px 0;
  background-image: url("../assets/img/papi_en.png");
  background-position: calc(50% - 3px) calc(50% + 4px);
  background-repeat: no-repeat;
  background-size: auto 95%;
  display: flex;
  justify-content: center;
  align-items: center;


  @include media-breakpoint-up(sm) {
    max-width: 480px;
    max-height: 480px;
    padding: 80px 0;
  }

  @include media-breakpoint-up(md) {
    max-width: 600px;
    max-height: 600px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
    max-height: 800px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1000px;
    max-height: 1000px;
  }
}
.grafik-papikostick-admin {
  max-width: 320px;
  max-height: 320px;
  padding: 50px 0;
  background-image: url("../assets/img/asesmen/papikostick/new_cakram_id.png");
  background-position: calc(50% - 3px);
  background-repeat: no-repeat;
  background-size: auto 95%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(sm) {
    max-width: 480px;
    max-height: 480px;
    padding: 80px 0;
  }

  @include media-breakpoint-up(md) {
    max-width: 600px;
    max-height: 600px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
    max-height: 800px;
    padding: 100px 0;

  }

}
.grafik-papikostick-admin-en {
  max-width: 320px;
  max-height: 320px;
  padding: 50px 0;
  background-image: url("../assets/img/asesmen/papikostick/new_cakram_en.png");
  background-position: calc(50% - 3px);
  background-repeat: no-repeat;
  background-size: auto 95%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(sm) {
    max-width: 480px;
    max-height: 480px;
    padding: 80px 0;
  }

  @include media-breakpoint-up(md) {
    max-width: 600px;
    max-height: 600px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
    max-height: 800px;
    padding: 100px 0;

  }

}

.grafik-agility {
  max-width: 320px;
  max-height: 320px;
  padding: 50px 0;
  background-image: url("../assets/img/agility/grafik.png");
  background-position: calc(50% + 14px);
  background-repeat: no-repeat;
  background-size: auto 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .grafik-agility {
    background-position: calc(50% + 13px);
  }
}
@media only screen and (max-width: 992px) {
  .grafik-agility {
    background-position: calc(50% + 13px);
  }
}
@media only screen and (max-width: 770px) {
  .grafik-agility {
    background-position: calc(50% + 12px);
  }
}
@media only screen and (max-width: 760px) {
  .grafik-agility {
    background-position: calc(50% + 12px);
  }
}

@media only screen and (max-width: 596px) {
  .grafik-agility {
    background-position: calc(50% + 13px) calc(50% - 1px);
  }
}

/* SHARE MODAL */
.modal-backdrop.share-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5)
}
// .modal-backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1040;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.1)
// }

.share-modal-header {
  border-bottom: 0;
}

.share-url-wrapper {
  width: 100%;
  text-align: center;

  .urlHolder {
    width: 250px;
    max-height: 100%;
    margin-right: 3px;
    outline: none ;

  }

  .urlHolder2 {
    width: 350px;
    max-height: 100%;
    margin-right: 3px;
    outline: none ;

  }

  .share-url-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;

    i {
      color: white;
      font-size: 15px;
    }
  }

  p {
    margin-top: 5px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about {
    background-size: 8px;
    background-position: 5% 0%;
  }

  .about h1 {
    font-size: 1.75rem;
  }

  .hr-main {
    width: 70px;
    border-top: 3px solid #ffb95b;
  }

  .unduh-app:first-child {
    margin-right: 20px;
  }

  footer {
    // background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
    // background-repeat: no-repeat;
    // background-size: 50px, 400px, 12px, 300px;
    // background-position: 10px 30px, -200px -40px, 98% 80%, 190% 160%;
    background-color: #18568B;
  }

  .footer-content {
    padding: 0 15px;
  }

  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }

  .nav-token {
    display: none !important;
  }

  .nav-token-mobile {
    display: flex !important;
  }

  .detail-applicant-photo {
    float: unset;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  footer {
    // background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/polygon7.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
    // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    // background-size: 50px, 400px, 18px, 12px, 300px;
    // background-position: 10px 30px, -200px -40px, 62% 50%, 98% 80%, 140% 160%;
    background-color: #18568B;
  }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }

  .nav-token {
    display: none !important;
  }

  .nav-token-mobile {
    display: flex !important;
  }

  .detail-applicant-photo {
    float: unset;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // footer {
  //   // background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
  //   // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  //   // background-size: 60px, 500px, 20px, 400px;
  //   // background-position: 20px 40px, -50px -70px, 98% 90%, 140% -170%;
  // }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }

  .nav-token {
    display: flex !important;
  }

  .nav-token-mobile {
    display: none !important;
  }

  .detail-applicant-photo {
    float: right;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // footer {
  //   // background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/polygon7.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
  //   // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  //   // background-size: 70px, 20px, auto, 20px, 40%;
  //   // background-position: 20px 40px, 55% 25%, -300px -180px, 98% 90%, 130% -18%;
  // }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }
  .nav-token {
    display: flex !important;
  }

  .nav-token-mobile {
    display: none !important;
  }

  .detail-applicant-photo {
    float: right;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  // footer {
  //   // background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/polygon7.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
  //   // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  //   // background-size: 70px, 20px, auto, 20px, 40%;
  //   // background-position: 20px 40px, 55% 25%, -190px -180px, 98% 90%, 130% -18%;
  // }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }
  .nav-token {
    display: flex !important;
  }

  .nav-token-mobile {
    display: none !important;
  }

  .detail-applicant-photo {
    float: right;
  }
}
// end landing page

@media (min-width: 576px) {
  .card-group {
    flex-flow: row wrap;
    height: 600px;
  }
}
@media (min-width: 576px) {
  .card-group {
    flex-flow: row wrap;
    height: 600px;
  }
}

// @media (min-width: 992px) {
//   .main {
//     margin-left: 250px !important;
//   }
// }

@media (max-width: 992px) {
  .card-group {
    .card:not(:last-child) {
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
    }
  }
}

@media (max-width: 600px) {
  .app-header .navbar-nav{
    margin-left: auto;
  }
  .menu-img img {
    width: 70%;
  }

  .rbc-calendar {
    overflow: scroll;

    .rbc-toolbar,
    .rbc-month-view,
    .rbc-time-view {
      min-width: 650px;
    }
  }

  .sidebar .nav {
    width: 200px;
  }

  .app-header .navbar-brand {
    width: 155px;
  }

  .plr-4 {
    padding: 0;
  }

  .card-group .card-login-form {
    form {
      width: 100%;
    }
  }

  // .modal-dialog {
  //     // top: 25%;
  // }
  .button-add-doc,
  .button-add-doc:hover {
    width: 90%;
  }

  .loading {
    left: 25%;
  }

  .filter-date-attendance {
    margin: 0 !important;
  }

  .dashboard-card .ul-dashboard {
    padding-inline-start: 0;
  }
}

@media (min-width: 790px) {
  .attendance {
    display: none;
  }
}

.bg-stripe {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23f5f5f5' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23f5f5f5' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #f2f2f2;
}

.rounded-12 {
  border-radius: 12px !important;
}

.settings-list {
  & > .list-group-item {
    position: relative;
    &.is-changed:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.75rem;
      bottom: 0.75rem;
      width: 0.25rem;
      border-radius: 0.25rem;
      background: #ffc107;
    }

    .list-group-item-heading {
      font-weight: bold;
    }
  }
}

.disc-choices{
    @include media-breakpoint-down(sm) {
      .custom-control-label::before, .custom-control-label::after {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
}
.img-icon{
  background-color: #335877;
  border-radius: 10px;
  @include media-breakpoint-down(sm){
    max-height:100%;
    max-width:100%;
  }
  @include media-breakpoint-only(md){
    max-height: 80%;
    max-width: 80%;
  }
  @include media-breakpoint-up(lg){
    max-height: 35%;
    max-width: 35%;
  }

}

.master-icon{
    /* HIDE RADIO */
  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    background-color: #335877;
    border-radius: 10px;
    max-width: 50%;
    max-height: 50%;
    // width: 95%;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border-radius: 10px;
    border: solid 5px #09fd5e;
    // box-shadow: 0 0 15px #ff0000;
  }

  .overlay-master {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #335877;
    opacity: 0.5;
    overflow: hidden;
    width: 60%;
    height: 0;
    transition: .5s ease;
    cursor: pointer;
  }

  .container-master:hover .overlay-master {
    height: 75%;
  }

  .text-master {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.table-structure {
  tr, td{
    border-bottom: none;
  }
}

.token-master{
  Label {
    width: 100%;
  }

  [type=radio]+.card {
    background-color: #fff;
    color: $netis-primary;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }

  [type=radio]+.card:hover {
    cursor: pointer;
  }

  [type=radio]:checked+.card {
    border: 2px solid $netis-primary;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
  }

}

.button-token{
  border: 1px solid #DAB746;
  background-color: #fff6be85;
  color: #d6ab1d;
  border-radius: 10px;
}

.button-token-post{
  border: 1px solid #091f0085;
  background-color: #c3f1c0;
  color: #091f0085;
  border-radius: 10px;
}

.dropdown-token{
  display: inline-block;
  border-radius: 60px;
  border: 0px solid;
  padding: 0.5em 0.8em;
  background-color: rgba(224, 229, 234, 0.31);
  i {
    color: rgba(243, 216, 50, 1);
  }
}

.notif-token{
  color: $netis-primary;
}

.table-token{
  background-color: #FAFAFA;
  overflow-x: hidden;
  overflow-y: visible !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  scrollbar-color: transparent;  /* Firefox */
}

.table-token::-webkit-scrollbar {
  overflow-x: hidden;
  display: none;
  width: 0px;
  background: transparent;
}

.badge.unread {
  position: relative;
  &:after {
    content: '';
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
  }
}

.fa.fa-bell-o.marked {
  position: relative;
  &:after {
    content: '';
    width: 35%;
    height: 35%;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.ringed {
  transform-origin: 50% 4px;
  animation: ring 4s ease-in-out infinite;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.img-logo {

  @include media-breakpoint-up(xs){
    width: 50%;
  }

  @include media-breakpoint-up(sm){
    width: 40%;
  }

  @include media-breakpoint-up(md){
    width: 25%;
  }

  @include media-breakpoint-up(lg){
    width: 15%;
  }
}

.table-data{
  max-height: 80vh;
  // position: relative;

  @include media-breakpoint-down(md){
    overflow-x: scroll;
  }
  @include media-breakpoint-up(lg){
    overflow-x: hidden;
  }

  tr.grey-tr, th {
    background-color: #f5f6fa;
    z-index: 99;
  }

  .scroll-table {
    overflow-y: scroll;
  }

  .header-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}

.back-home{
  background-color:#000;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.card-link-invoice {
  text-decoration: none;
  color: #000;
  cursor: pointer;

  :hover {
    background-color: rgb(245, 245, 245);
    color: inherit;
  }
}

a.card-detail-job {
  text-decoration: none;
  color: #000;
  cursor: pointer;

  :hover {
    text-decoration: none;
    color: #000;
  }

  .card {
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      z-index: 1;
    }
  }
}

.card .card-image {
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 1);
  }
}

.detail-applicant-photo {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.507);
  }
}

.button-reset {
  background-color: #fff;
  border-radius: 10px;
}

.button-reset:hover {
  background-color: $netis-primary;
  color: #fff;
}

.menu-dashboard {
  @include media-breakpoint-down(sm){
    display: none !important;
  }
  @include media-breakpoint-up(md){
    display: block !important;
  }
}

.menu-mobile {
  @include media-breakpoint-down(sm){
    display: block !important;
  }
  @include media-breakpoint-up(md){
    display: none !important;
  }
}

.recruitment-label {
  top: -40;
  font-size: 12px;
  margin-left: auto;
  padding: 3px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 8px;
  min-width: 80px;
  // width: 120px;
  height: 20px;
  padding-top: 1px;
  padding-left: 5px;
  align-items: center;
}

.modal-downloading {
  .modal-content {
    background: none;
    color: #fff
  }
  .modal-backdrop.modal-downloading {
    background-color:rgb(0, 0, 0)
  }
}

.active-navbar {
  a {
    color: white;
    font-weight: 600;
    border-bottom: 5px solid #FF8A00;
  }
}