.comingsoon {
    color: #fff;
    background: url('../../assets/img/AI.svg'), linear-gradient(180deg, #18568B 0%, #00034F 100%);
    background-position: right;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
    .comingsoon-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .comingsoon-logo img {
        width: 25%;
        height: auto;

        @include media-breakpoint-down(sm){
            width: 60%;
        }
    }

    .comingsoon-content {
        text-align: center;
        // height: 700px;
        padding-top: 100px;
        padding-left: 3rem;

        @include media-breakpoint-down(sm){
            margin-left: 0;
            padding-left: 1rem;
        }

        .title {
            font-weight: 900;
            font-size: 70px;
            line-height: 82px;
        }

        .countdown {
            margin-top: 40px;
            .number {
                display: inline-block;
                .value {
                    font-weight: 500;
                    font-size: 70px;
                    line-height: 82px;
                    display: flex;
                    .square {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 90px;
                        width: 60px;
                        border: 2px solid #FFFFFF;
                        box-sizing: border-box;
                        border-radius: 10px;
                        margin-right: 10px;
                    }
                }
                .text {
                    font-size: 20px;
                    line-height: 23px;
                    margin-top: 15px;
                }
            }
        }

        .get-demo {
            margin-top: 70px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }

        .input-email-demo {
            width: 350px;
            position: relative;

            @include media-breakpoint-up(lg){
            }
        }

        .input-email-demo Input{
            width: 100%;
            padding-left: 37px;
            padding-right: 60px;
            padding-bottom: 10px;
            // box-shadow: 0px 0px 8px 3px #898989;
            color: #fff;
            border: 1px solid #FFFFFF;
            border-radius: 8px;
            background-color: transparent
        }

        .input-email-demo Input::placeholder{
            font-style: italic;
            font-size: 0.875rem;

            @include media-breakpoint-down(sm){
            font-size: 10pt;
            }
        }

        .input-email-demo i {
            position: absolute;
            left: 8px;
            top: 11px;
            font-size: 16pt;
            color: #fff;
        }

        .input-email-demo Button {
            position: absolute;
            right: 4px;
            top : 4px;
            background-color: #fff;
            border-radius: 6px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #103B77;
        }

        .social-media {
            padding-top: 100px;
            float: right;

            @include media-breakpoint-down(sm){
                float: none;
            }
            img {
                width: 60px;
                height: 60px;
                margin: 0 30px;
            }
        }
    }
}